# Dependency directories
node_modules/

# Compiled files
build/
dist/
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yarn
yarn-error.log
yarn.lock

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/

# Temporary files
*.swp
*.swo
