.contact {
  display: grid;
  justify-content: center;
  max-width: 70rem;
  width: 100%;
  margin: auto;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  align-content: start;
  margin-top: var(--white-space);
  max-width: var(--max-width);
  height: 100%;
  padding: var(--white-space);
}

.title {
  text-align: center;
  display: grid;
  align-items: start;
  justify-content: center;
  margin-bottom: var(--white-space);
  width: 100%;
  color: var(--contrast-color);
  gap: 0;
}

.title p {
  font-family: "Source Sans", sans-serif;
  font-size: var(--body-text);
  line-height: 1.5;
  color: var(--accent-color);
  font-weight: 400;
}
