.container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    width: 100svw;
    padding: calc(var(--white-space) * 2) var(--white-space);
}

.container2 {
    display: grid;
    justify-content: center;
    width: 100svw;
    grid-template-columns: 1fr;
    background: var(--secondary-color);
    padding: var(--white-space);

}
.footerContainer {
    display: grid;
    justify-content: center;
    width: 100svw;
    grid-template-columns: 1fr;
    background: var(--secondary-color);
    padding: 2rem;
}

.navbar-container {
    display: grid;
    z-index: 99999999999;
    padding: 0 var(--white-space);
    justify-items: center;
    width: 100svw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    background: var(--secondary-color);
    top: 0;
    left: 0;
    right: 0;
}

.hero-container {
    display: grid;
    padding: 0 var(--white-space);
    justify-content: center;
    width: 100svw;
    height: 100svh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: var(--secondary-color);
}