.gallery {
  max-width: var(--max-width);
  width: 100%;
  overflow-x: auto;
  overflow-x: auto;
}

.gallery-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
   gap: 2rem;
}

.item {
    width: 100%;
}

.item img {
   width: 100%;
   aspect-ratio: 1/1;
}