.hero {
  height: 100%;
  width: 100%;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--white-space);
  max-width: var(--max-width);
  box-sizing: border-box;
}

.info {
  display: grid;
  align-content: center;
}

.info p {
  
}

.image {
  justify-self: end;
  height: clamp(15rem,35svw,35rem);
  width: clamp(15rem,35svw,35rem);
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  overflow: hidden;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width < 992px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .image {
    order: 1;
    justify-self: center;
    align-self: end;
  }

  .info {
    align-self: start;
    order: 2;
  }
}