.hero {
  height: 100%;
  width: 100%;
  background: var(--secondary-color);
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  max-width: var(--max-width);
}

.info {
  position: relative;
  display: grid;
  align-content: center;
}

.info p {
  max-width: 57ch;
}

.image {
  width: 90%;
  height: 60%;
  border-radius: var(--border-radius);
  overflow: hidden;
  justify-self: end;
  align-self: center;
  background: url(/public/img/hero4.jpg) center 100%/cover no-repeat;
}