.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6.5rem;
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--white-space);
    align-items: center;
}

.header h3 {
    margin-bottom: 0;
}

.header h3::after {
  content: " Nanny";
  color: var(--accent-color);
}

.header nav {
    width: 35%;
}

.header nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}