.header {
    width: 100%;
    height: 8rem;
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    z-index: 999999;
    margin: auto;
    align-items: center;
    max-width: var(--max-width);
}

.header h4 {
    margin-bottom: 0;
}

.header h4::after {
  content: " Nanny";
  color: var(--accent-color);
}

.header nav {
    width: 50%;
}

.header nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header div {
    display: flex;
    column-gap: 2rem;
}

.header div > button {
    margin-top: 0;
}
