/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

/* Root */
:root {
	font-size: 62.5%;
	--h1: clamp(3.2rem, 4vw, 4rem);
	--column-gap: clamp(2rem, 4.2vw, 4.2rem);
	--title-space: clamp(1rem, 2vw, 2rem);
	
	--h2: clamp(2.4rem, 3.2vw, 3.2rem);
	--accent-color: #e708b7;
	--secondary-color: #eee;
	--primary-color: #fff;
	--white-space: clamp(2rem, 4.2vw, 4.2rem);
	--h3: clamp(2.2rem, 2.4vw, 2.4rem);
	--h4: clamp(1.6rem, 2.2vw, 2.2rem);
	--body-text: clamp(1.4rem, 1.6vw, 1.6rem);
	--max-width: 96rem;
	--border-radius: 1.2rem;
  }

body {
	background: var(--primary-color);
	overflow-x: hidden;
}

.section-title {
	text-align: center;
	display: -ms-grid;
	display: grid;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: var(--title-space);
	width: 100%;
}

.section-title p {
   color: var(--accent-color);
   font-weight: 100;
}

h1 {
	font-size: var(--h1);
	font-family: "Open Sans", sans-serif;
	text-wrap: balance;
	margin-bottom: var(--title-space);
	font-weight: bold;
	line-height: 1.1;
}

h2 {
	font-size: var(--h2);
	line-height: 1.1;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
}

h3 {
	font-size: var(--h3);
	line-height: 1.1;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	margin-bottom: var(--title-space);
}

h4 {
	font-size: var(--h4);
	line-height: 1.1;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	margin-bottom: .5rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	font-family: Helvetica, sans-serif;
	font-size: var(--body-text);
	line-height: 1.5;
	color: #444;
	font-weight: 520;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	font-family: Helvetica, sans-serif;
	font-size: var(--body-text);
	line-height: 1.5;
	color: #444;
	font-weight: 520;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	font-family: Helvetica, sans-serif;
	font-size: var(--body-text);
	line-height: 1.5;
	color: #444;
	font-weight: 520;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
	font-family: Helvetica, sans-serif;
	font-size: var(--body-text);
	line-height: 1.5;
	color: #444;
	font-weight: 520;
}

p, button, a, label, input, input::placeholder, textarea::placeholder, textarea {
	font-family: Helvetica, sans-serif;
	font-size: var(--body-text);
	line-height: 1.5;
	color: #444;
	font-weight: 520;
}

label {
	height: 100%;
	width: 100%;
	color: #000;
}

input, textarea {
	padding: .5rem;
	color: #333;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #888;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #888;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #888;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
	color: #888;
}

input::placeholder, textarea::placeholder {
	color: #888;
}

a {
	font-size: calc(var(--body-text));
	text-decoration: none;
	color: #444;
}

button {
	border: 0;
	font-size: calc(var(--body-text));
	background: var(--accent-color);
	color: var(--primary-color);
	padding: .7rem 2rem;
	border-radius: var(--border-radius);
	margin-top: var(--title-space);
	font-weight: bold;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

img {
	border-radius: var(--border-radius);
}

label {
	font-weight: 600;
}