/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

/* Root */
:root {
	font-size: 62.5%;
  --h1: 4rem;
  --column-gap: 4rem;
  --h2: 3.2rem;
  --accent-color: #e708b7;
  --secondary-color: #eee;
  --primary-color: #fff;
  --white-space: 4.2rem;
  --h3: 2.8rem;
  --h4: 1.8rem;
  --body-text: 1.6rem;
  --max-width: 140rem;
  --border-radius: 1.2rem;
}

body {
	background: var(--primary-color);
	overflow-x: hidden;
}

.section-title {
	text-align: center;
	display: grid;
	justify-content: center;
	margin-bottom: 4rem;
	width: 100%;
}

.section-title p {
   color: var(--accent-color);
   font-weight: 100;
}

h1 {
	font-size: var(--h1);
	font-family: "Open Sans", sans-serif;
	text-wrap: balance;
	margin-bottom: 2rem;
	font-weight: bold;
	line-height: 1.1;
}

h2 {
	font-size: var(--h2);
	line-height: 1.1;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
}

h3 {
	font-size: var(--h3);
	line-height: 1.1;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

h4 {
	font-size: var(--h4);
	line-height: 1.1;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	margin-bottom: .5rem;
}

p, button, a {
	font-family: Helvetica, sans-serif;
	font-size: var(--body-text);
	line-height: 1.5;
	color: #444;
	font-weight: 520;
	max-width: 70ch;
}

a {
	font-size: calc(var(--body-text));
	text-decoration: none;
	color: #444;
}

button {
	border: 0;
	font-size: calc(var(--body-text));
	background: var(--accent-color);
	color: var(--primary-color);
	padding: .7rem 2rem;
	border-radius: var(--border-radius);
	margin-top: 2rem;
	font-weight: bold;
	width: fit-content;
}

img {
	border-radius: var(--border-radius);
}


